* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body {
  font-family: 'Noto Sans JP', sans-serif;
}
.cm-editor, .cm-gutters {
  background-color: #1A183D !important;
}
.codeblock-wrapper > * {
  height: 100%;
}
.codeblock-wrapper > span > code > span[style*="opacity: 0.3;"] {
  opacity: 1 !important;
  user-select: auto !important;

}
.codeblock-wrapper > span > code > span[style*="opacity: 1;"] {
  position: relative !important;
  background-color: rgba(88, 133, 175, .5) !important;
  padding: 4px 8px !important;
  border-radius: 4px;
  user-select: auto !important;
}
.codeblock-wrapper > span > code > span[style*="opacity: 1;"] * {
  filter: brightness(120%)
}


.quill {
  height: 100%;
  display: flex;
  flex-direction: column
}
.ql-toolbar {
  position: sticky;
  top: 0;
  flex-shrink: 0
}
.ql-container  {
  flex: 1;
  overflow: hidden;
}
.text-overflow-clamp {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
 -webkit-box-orient: vertical;
-webkit-line-clamp: 2;
display: -webkit-box;
}

@keyframes loading-spinner {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.loading-spinner div {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid #313131;
  border-top-color: transparent;
  border-radius: 50%;
}
.loading-spinner div {
  animation: loading-spinner 1s linear infinite;
  top: 20px;
  left: 15px
}
.loadingio-spinner-container {
  width: 35px;
  height: 35px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.loading-spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading-spinner div { box-sizing: content-box; }

@tailwind base;
@tailwind components;
@tailwind utilities;

